---
interface Props {
  id: string;
}

const { id } = Astro.props;

import { getComponentData } from '../scripts/utils.js';
import { Image } from 'astro:assets';

const data = await getComponentData('fullimage', `${id}`);
const borderColor = data.borderColor;
---

<section class="section"> 
  <div class="faux-border">
    <div class="grid-container">
      <div class="image-column">
        <Image 
          src={import(`../images/${data.imageUrl}.jpeg`)} 
           widths={[500, 892]}
           sizes={`(max-width: 991px) 892px, 500`}
          alt={data.altText}
        />
      </div>
    </div> 
  </div>
</section>

<style define:vars={{ borderColor }}>
  .section {
    max-width: none;
  }
  .faux-border {
    background-color: var(--borderColor); 
    padding: 0 5% 3rem 5%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: stretch;
    align-items: center;
  }
  .image-column img {
    max-width: 100%;
    height: auto;
    align-self: center;
  }

/* 768px through 991px is bootstraps 'medium' size */
@media screen and (max-width: 991px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-auto-flow: row dense;
        align-items: center;
    }
}
</style>
